@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: poppins !important;
  background-color: #f5f5f5 !important;
}
/* ================ Top-nav-section ================= */
.Top-nav-section {
  padding: 15px 0px;
  background-color: #476a85;
}
.logo-title-colu {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  padding: 10px 0px 0px 10px;
}
.logo-wrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logo-png {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 40%;
  height: 30%;
}
.date-time-colu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.date-time {
  color: rgb(255, 255, 255);
}
/* ================ End of Top-nav-section ================= */

/* ==================== start of left-nav ================== */
.left-nav {
  font-size: 15px;
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 0px 0px !important;
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 650px;
}

.left-nav-div {
  width: 25%;
  height: 100%;
  padding: 40px 20px !important;
  border-right: 1px solid #bfbfbf;
}

.left-nav-button {
  margin-top: 15px;
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  color: #000000 !important;
}

.left-nav-button:hover {
  color: white !important;
  background-color: #183b56 !important;
}

.btn-icon {
  margin-right: 5px;
}

.nav-link.active {
  color: white !important;
  background-color: #183b56 !important;
}

.left-nav-tab {
  width: 100%;
  margin: 0px 30px;
}

/* ==================== End of left-nav ================== */

/* ============== start of body section =================== */

.text-area {
  height: 550px;
}
#exampleFormControlTextarea1:focus {
  box-shadow: none;
  border-color: #4f6982;
}

/* ============== End of body section =================== */

/*========== footer-section ===============*/

.footer-section {
}

.end-footer {
  padding: 10px 0px;
  border-top: 1px solid #011e00;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #01496d;
}

.end-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.end-part1 {
  display: flex;
  flex-direction: row;
}
.line1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text p {
  margin: 0px;
  color: #fff;
  font-weight: 400;
  padding-right: 6px;
}

.social-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 6px;
}

.social-link a:hover {
  color: #c0bdbd;
}

.end-part2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.design p {
  color: #fff;
  margin: 0px;
  padding-right: 10px;
}
