@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #05718c;
  --body-bg-color: #e3f2f6;
  --white: #ffffff;
  --black: #0000;
  --btn-bg-color: #035164;
  --btn-hover-color: #046178;
  --footer-bg: #112f3b;
}

@font-face {
  font-family: Aakriti;
  src: url(./Aakriti\ Regular.ttf);
}

#preeti-content,
#preeti_text {
  font-family: Aakriti;
}

main {
  height: calc(100vh - 171px);
}
body {
  font-family: poppins !important;
  background-color: var(--body-bg-color) !important;
}
/* ================ Top-nav-section ================= */
.Top-nav-section {
  padding: 15px 0px;
  background-color: var(--primary-color);
}

.top-header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 50%;
  padding: 0px 0px 0px 15px;
}
.logo-wrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.logo-png {
  background-color: white;
  border-radius: 10px;
  width: 22%;
  height: 100%;
}
.date-time {
  color: var(--white);
  padding-right: 30px !important;
}
/* ================ End of Top-nav-section ================= */

/* ==================== start of left-nav ================== */

.left-nav {
  font-size: 15px;
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 0px 0px !important;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.left-nav-div {
  width: 25%;
  height: 100%;
  padding: 40px 20px !important;
  border-right: 1px solid #bfbfbf;
}

.left-nav-button {
  margin-top: 15px;
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  color: #000000 !important;
}

.left-nav-button:hover {
  color: white !important;
  background-color: var(--btn-hover-color) !important;
}

.btn-icon {
  margin-right: 5px;
}

.nav-link.active {
  color: white !important;
  background-color: var(--btn-bg-color) !important;
}

.left-nav-tab {
  width: 100%;
  margin: 0px 30px;
}

/* ==================== End of left-nav ================== */

/* ============== start of body section =================== */

.text-area {
  height: 550px;
}
#exampleFormControlTextarea1:focus {
  box-shadow: none;
  border-color: #4f6982;
}

/* date converter tab */

.date-converter {
  padding-bottom: 100px;
}

.convert-btn {
  color: black !important;
}

.convert-btn:hover {
  background-color: var(--btn-hover-color) !important;
  color: var(--white) !important;
}

.date-convert-tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.converter-display-field {
  padding-top: 100px;
}

.convert-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 15px 50px !important;
}

.decor {
  background: none;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #5e5e5e;
}

.convert-date-btn {
  background-color: #59b6cd !important;
  padding: 8px 26px !important;
}

.convert-date-btn:hover {
  background-color: var(--btn-bg-color) !important;
  color: var(--white) !important;
}

.display-result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.date-converted {
  text-align: center;
  border-bottom: 1px solid #d7d8d9;
  padding-top: 10px;
  padding-bottom: 45px;
}

.original-date {
  font-size: 15px;
  font-weight: 500;
}

.result-date {
  font-size: 40px;
  font-weight: 800;
  color: gray;
}

/* ============== End of body section =================== */

/*========== footer-section ===============*/

.end-footer {
  padding: 10px 0px;
  border-top: 1px solid #011e00;
  background: var(--footer-bg);
}

.end-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  margin: 0px 30px;
}

.end-part1 {
  display: flex;
  flex-direction: row;
}
.line1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text p {
  margin: 0px;
  color: #fff;
  font-weight: 400;
  padding-right: 6px;
}

.social-link a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  margin-right: 6px;
}

.social-link a:hover {
  color: #c0bdbd;
}

.end-part2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.design p {
  color: #fff;
  margin: 0px;
  padding-right: 10px;
}

@media only screen and (min-width: 992px) {
  .mobile-view-container {
    display: none !important;
  }
}

/* css for responsive view in mobile */

@media only screen and (max-width: 600px) {
  .laptop-view-container {
    display: none !important;
  }

  main {
    height: 100%;
  }
  .top-header {
    display: block !important;
  }

  .logo-wrapper {
    width: 100%;
  }

  .logo-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 10px 40px;
  }
  .logo-png {
    width: 50%;
  }

  .left-nav-tab {
    margin: 0px;
  }
}
